@model PhotoApplication.Models.Photo

@{
    ViewBag.PageTitle = "Add photo";
}

<h2>@ViewBag.PageTitle</h2>
<br />


@using (Html.BeginForm("New", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.UserId)

    @Html.Label("Title", "Image Description")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Image", "Image")
    <br />
    <input type="file" runat="server" id="MyImage" name="Image" />
    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })

    <br />

    @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })

    <label>Pick a Category</label>

    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"),
    "Select a category", new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br />

    <label>Pick an Album</label>

    @Html.DropDownListFor(m => m.AlbumId, new SelectList(Model.Albums, "Value", "Text"),
    "Select an album", new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.AlbumId, "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Add Photo</button>
}