@model PhotoApplication.Models.Album
@{
    ViewBag.Title = "Show";
}
<h1>@Model.AlbumName</h1>

<div class="panel panel-default">
    @Html.Partial("AlbumInfo", Model)
    @if (Model.UserId == ViewBag.currentUser || ViewBag.isAdmin)
    {

        <div class="panel-footer article-panel-footer">
            <a class="btn btn-primary" href="/Album/Edit/@Model.Id">Edit album</a>
            @if (Model.UserId == ViewBag.currentUser || ViewBag.isAdmin)
            {
                using (Html.BeginForm(actionName: "Delete", controllerName: "Album", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
                {

                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger" type="submit">Delete album</button>
                }
            }
        </div>
    }
</div>
@foreach (PhotoApplication.Models.Photo photo in ViewBag.Photos)
{
    <div class="panel panel-article">
        @Html.Partial("PhotoInfo", photo)
        <div class="panel-footer article-panel-footer around">
            <a class="btn btn-sm btn-success full-width" href="/Photo/Show/@photo.Id">Display Photo</a>
        </div>
    </div>
    <br />
}
