@model PhotoApplication.Models.ApplicationUser

@{
    ViewBag.Title = "Edit user profile";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Id)

    <br />

    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("UserName", "User Name", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.UserName)

    <br /><br />

    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.Email)

    <br /><br />

    <i class="glyphicon glyphicon-phone"></i>
    @Html.Label("PhoneNumber", "Phone Number")

    <br />

    @Html.EditorFor(m => m.PhoneNumber)

    <br /><br />
    if (ViewBag.CanEditRole == true)
    {
        <i class="glyphicon glyphicon-th-list"></i>
        <label>Pick Role</label>
        @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })
        <br />
    }
    
    <button class="btn btn-sm btn-success" type="submit">Edit user data</button>
    
}

