@{

    ViewBag.Title = "Users";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@foreach (var user in ViewBag.UserList)
{
    <div class="panel-heading">UserName: @user.UserName</div>

    <div class="panel-body">

        <i class="glyphicon glyphicon-envelope"></i> Email: <span class="label label-default">@user.Email</span>

        <br /><br />

        @if (@user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:Phone Number:<span class="label label-default">@user.PhoneNumber</span>


        }

    </div>

    <div class="panel-footer">

        <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id"> Show User</a>

    </div>

    <br /><br />
}
